@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700&display=swap');




.fontform {
    font-family: 'Vollkorn', serif;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
  }

